<template>
    <div class="app-container">
        <div class="container-fluid">
            <template v-if="logged_in">
                <template v-if="page === 'password_vault'">
                    <Vault :app="app" />
                </template>
                <template v-else-if="page === 'mfa'">
                    <MFA :app="app" />
                </template>
            </template>
            <template v-else>
                <Login :app="app" />
            </template>
        </div>
    </div>
</template>

<script>
import Login from "#/pages/Login";
import Vault from "#/pages/Vault";
import MFA from "#/pages/MFA";

export default {
    name: "App",
    props: ["app"],
    components: { Login, Vault, MFA },
    data: function() {
        return this.app.state;
    }
};
</script>

<style>
.app-container {
    background-color: whitesmoke;
    position: relative;
    width: 400px;
    max-height: 580px;
    overflow: auto;
}

html {
    overflow-y: hidden;
    width: 400px;
    max-height: 580px
}

p.card-header-title {
    cursor: pointer;
}
.password-panel-block {
    width: 100%;
}

.password-panel-block .password-name {
    float: left;
}


.password-panel-block .password-controls {
    float: right;
    margin-top: 6px;
}

.control.is-right {
    position: absolute;
    right: 24px;
}
</style>
